.button {
  width: 160px;
  border-radius: 20px 20px 20px 20px;
  border: none;
  outline: none !important;
  padding: 7px 0;
  font-weight: 600;
  letter-spacing: 1px;
}

.button-text{
  font-size: 1rem;
}

.button-text-small{
  font-size: .8rem;
}

.button-icon{
  position: relative;
  right:20px;
  font-size: .8rem;
  color: #fff
}
