.newsletter {
  padding: 35px;
  color: #fff;
  height: 170px;
  margin-bottom: 30px;
}

.newsletter-input {
  background: #c162e5;
  border-style: none none solid none;
  border-color: #fff;
  border-width: 0.5px;
  padding: 0 0 10px 15px;
  color: #fff;
  outline: none;
}

.newsletter-input::placeholder {
  color: #fff;
  opacity: 1;
  letter-spacing: 1px;
}

.newsletter-header {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-top: 0.5rem;
  margin-bottom: 1.2rem;
  letter-spacing: 1.5px;
}

.newsletter-para {
  letter-spacing: 0.5px;
  font-size: 14px;
  margin: 0px;
}

.line-break::before {
  content: "\a";
  white-space: pre;
}

.newsletter-email {
  display: flex;
  margin-top: 2.5rem;
}

.newsletter-email-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px){
  .newsletter {
    padding: 35px;
    color: #fff;
    height: auto;
    margin-bottom: 30px;
  }
}
